
/* Header Elements */


.site-main-header-inner-wrap {
    min-height: 0px;
    border-bottom: 1px solid #E3E2E0;
    padding-bottom: 17px;

}


.main-navigation {
    color:#fff;

}

.header-navigation .menu {
    padding: 82px 0px 0px 0px;
}

ul.sub-menu {
    border-radius: 0px 0px 8px 0px;
}



.last-menu-item a {
    padding-right: 0px !important;
}


/* Before I used my own site branding hook
.site-branding a.brand {
    align-items:start;
}
     */

.site-branding .site-title a {
    font-size: 28px;
    text-decoration: none;
    color: #444240;
}

.site-title {
    font-size: 28px !important;
} 

.custom-logo {
    width:50px;
    padding-bottom: 20px;
}

.site-header-item {
    align-items: start;
}


/* My role and tools section */

.my-role-fields-container {
    display: inline-block;

}

.my-role-title {
    padding-right:17px;
}

.my-role-container {
    margin-top:13px;
    font-size: 14px;
}

.my-role-fields-container .role-item {
    padding-right:20px;
}

.hashtag {
    color:#C0C1D0;
}

.dash-line {
    min-width: 32px;
    border-bottom: 1px #E3E2E0 solid;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 17px;
}



/* Content Elements */

.entry-content-wrap {
    padding: 0px;
}

.single-content figure.wp-block-image {
    margin-bottom:0px;
}


/* This is for adding more gap for the grid block since I couldn't find that in the block setting */
:where(.is-layout-grid) {
    gap: 3em;
}

/* Atomized Elements */ 

.kt-btn-size-small {
    font-size: 13px !important;
    background-color: green;
    border-radius: 2px 2px 8px 2px !important;
} /* Might need to revisit this code, not sure why I'm having to use important or what's overiding this button. Might get screwed up if I got to customize a button later. */ 

.kb-svg-icon-wrap {
    background-color: #4B5AFB;
    padding:7px 5px 7px 5px;
    border-radius: 0px 0px 5px 0px;
    color:#fff;
}

.josh-icon-btn {
    background: none !important;
    color:#4B5AFB !important;
font-size: 15px !important;
padding-left: 0px !important;
}

/* Footer Styling */

.site-footer {
    width:600px;
    background:#231F20;
    color:#F5F4F3;
    border-radius: 0px 16px 0px 0px !important;
    padding-bottom: 0px;
    padding-top:20px;
}

.site-bottom-footer-inner-wrap {
    padding:14px 15px 0px 15px;
}

.footer-logo {
    display: block;
    float: left;
    color: #BA9D7A;
    font-weight: 300;
    margin-right: 50px;
}

.footer-list {
    width:300px;
    float:left;
}

.footer-list ul {
    display: block;
    float: right;

}

.footer-list li {
    display: block;
    float:left;
    padding-right:25px;
    padding-top:8px;
    list-style-type: circle;
    color:#C1B8B0;
}

.footer-html {
    margin:-1em;
}



/* Animation */

.fade-in-text {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  
  .fade-in-text.visible {
    opacity: 1;
  }